<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

	<!--<bean id="test" class="TestInitlizationBean" init-method="initMehtod">-->
	<!--</bean>-->
	<!--<bean id="user" name="user2" class="User" init-method="initMethod">-->
		<!--<property name="name" value="${a}"/>-->
		<!--<property name="age" value="28"/>-->
	<!--</bean>-->
	<import resource="spring-mvc.xml"/>
	<bean class="service.UserServiceImpl">

	</bean>
	<bean id="user1" name="user1" class="User" init-method="initMethod" scope="singleton">
		<property name="name" value="${aa}"/>
		<property name="age" value="30"/>
	</bean>
	<!--<bean id="user2" name="user2" class="User" init-method="initMethod" >-->
		<!--<property name="name" value="${aa}"/>-->
		<!--<property name="age" value="28"/>-->
	<!--</bean>-->
	
	<context:property-placeholder location="classpath:db.properties"/>
	

	<bean id="personSportImpl1" class="PersonSportImpl1">

	</bean>

</beans>